@page
@model AboutMeModel
@{
    ViewData["Title"] = "About me";
}

<div class="text-center">
    <h1 class="display-4">Updated "Index" Page, which is now called "About me"</h1>
    <p>So here we're supposed to have some info about me, which is not really interesting to anyone</p>
    <p>I suppose this should be enough as it is...</p>
</div>
